In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("../chap08/data/data-salary-2.txt")
print(len(df))
df.head(5)

40

    X    Y  KID
0   7  457    1
1  10  482    1
2  16  518    1
3  25  535    1
4   5  427    1

In [3]:
data = {
    "N": len(df),
    "K": 4,
    "X": df["X"].values,
    "Y": df["Y"].values,
    "KID": df["KID"].values
}

In [4]:
model = CmdStanModel(stan_file="model/model-exec-11-1.stan")
print(model)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model-exec-11-1

CmdStanModel: name=model-exec-11-1
	 stan_file=/workdir/chap11/model/model-exec-11-1.stan
	 exe_file=/workdir/chap11/model/model-exec-11-1
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit = model.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 3

In [6]:
summary = fit.summary()
summary

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-217.3010,0.138254,3.46629,-223.72500,-216.8530,-212.5190,628.595,593.574,1.00280
a0,377.8590,2.886080,117.40500,232.02200,369.9100,557.6470,1654.840,1562.640,1.00096
b0,11.7989,0.678501,12.56140,1.51039,12.0897,22.0053,342.747,323.652,1.00713
a[1],384.0000,0.350000,15.00000,360.00000,384.0000,408.0000,1768.000,1669.000,1.00000
a[2],335.0000,0.430000,17.00000,307.00000,334.0000,363.0000,1608.000,1518.000,1.00000
a[3],324.0000,0.820000,34.00000,268.00000,325.0000,376.0000,1652.000,1560.000,1.00000
a[4],488.0000,4.700000,135.00000,323.00000,459.0000,743.0000,842.000,795.000,1.00000
b[1],7.7000,0.023000,0.90000,6.30000,7.7000,9.2000,1529.000,1444.000,1.00000
b[2],19.0000,0.034000,1.30000,17.00000,19.0000,21.0000,1461.000,1379.000,1.00000
b[3],12.0000,0.040000,1.70000,9.40000,12.0000,15.0000,1757.000,1659.000,1.00000
b[4],9.5000,0.190000,5.50000,-0.79000,11.0000,16.0000,851.000,804.000,1.00000
s_a,168.9000,7.000000,218.00000,19.90000,106.6000,524.6000,966.500,912.600,1.00000
s_b,13.5000,1.800000,37.40000,3.70000,8.2000,32.1000,418.700,395.400,1.00000
s_Y,28.4000,0.100000,4.00000,22.70000,28.0000,35.8000,1177.900,1112.300,1.00000