In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("../chapter08/data/data-salary-2.txt")
print(len(df))
df.head(5)

40

    X    Y  KID
0   7  457    1
1  10  482    1
2  16  518    1
3  25  535    1
4   5  427    1

In [3]:
data = {
    "N": len(df),
    "K": 4,
    "X": df["X"].values,
    "Y": df["Y"].values,
    "KID": df["KID"].values
}

In [4]:
model = CmdStanModel(stan_file="model/exercise11-1.stan")
print(model)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chapter11/model/exercise11-1
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chapter11/model/exercise11-1

CmdStanModel: name=exercise11-1
	 stan_file=/workdir/chapter11/model/exercise11-1.stan
	 exe_file=/workdir/chapter11/model/exercise11-1
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit = model.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 1

In [6]:
summary = fit.summary()
summary

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-217.3320,0.116890,3.37385,-223.462000,-216.9980,-212.3850,833.105,749.870,1.00510
a0,383.2500,3.348720,121.36600,240.059000,369.5110,579.8420,1313.510,1182.280,1.00009
b0,11.6941,0.301428,7.80436,0.683917,12.1481,21.2948,670.360,603.384,1.00399
a[1],384.0000,0.360000,15.00000,359.000000,384.0000,408.0000,1722.000,1550.000,1.00000
a[2],335.0000,0.410000,18.00000,306.000000,335.0000,364.0000,1869.000,1682.000,1.00000
a[3],324.0000,0.810000,34.00000,266.000000,324.0000,378.0000,1789.000,1610.000,1.00000
a[4],487.0000,4.400000,137.00000,324.000000,456.0000,754.0000,954.000,859.000,1.00000
b[1],7.7000,0.022000,0.92000,6.200000,7.7000,9.2000,1786.000,1607.000,1.00000
b[2],19.0000,0.030000,1.30000,17.000000,19.0000,21.0000,1818.000,1636.000,1.00000
b[3],12.0000,0.040000,1.70000,9.200000,12.0000,15.0000,1808.000,1628.000,1.00000
b[4],9.6000,0.180000,5.50000,-1.200000,11.0000,16.0000,962.000,866.000,1.00000
s_a,169.8000,8.500000,249.50000,19.500000,102.0000,531.7000,869.900,783.000,1.00000
s_b,11.6000,0.500000,12.90000,3.600000,8.2000,29.9000,701.900,631.800,1.00000
s_Y,28.5000,0.100000,3.80000,22.800000,28.1000,35.4000,2228.700,2006.000,1.00000